.iconFrame {
  height: 86.3px;
  width: 89.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconFrameWrapper {
  width: 484px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.text,
.text1 {
  margin: 0;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.text {
  align-self: stretch;
  font-size: inherit;
  letter-spacing: -1px;
  font-weight: 400;
  font-family: inherit;
}
.text1 {
  height: 49.8px;
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.textParent,
.textWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.textWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-18xl) 0 var(--padding-17xl);
  box-sizing: border-box;
  font-size: var(--body-text-web-size);
  font-family: var(--text-small-normal);
}
.textParent {
  width: 484px;
  flex-direction: column;
  gap: var(--gap-7xl);
  text-align: center;
}
.text2 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
  display: inline-block;
  min-width: 98px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs-8);
}
.text3 {
  width: 162px;
  position: relative;
  font-size: var(--text-small-normal-size);
  line-height: 16px;
  font-weight: 800;
  font-family: var(--text-small-normal);
  color: var(--fozanova-white);
  white-space: pre-wrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input,
.input1,
.inputWrapper {
  display: flex;
  flex-direction: row;
}
.input1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-lgi) var(--padding-sm-3)
    var(--padding-9xl);
  background-color: var(--fozanova-gold);
  box-shadow: 0 1px 1px rgba(88, 111, 54, 0.08);
  border-radius: var(--br-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.input1:hover {
  background-color: var(--color-darkgoldenrod);
}
.input,
.inputWrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.input {
  flex: 1;
  box-shadow: 0 2px 24px 2px rgba(29, 32, 36, 0.02);
  border-radius: var(--br-xs);
  background-color: var(--fozanova-white);
  border: 1px solid var(--color-aliceblue);
  overflow: hidden;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-12xs) var(--padding-10xs) var(--padding-12xs)
    var(--padding-mid);
  gap: var(--gap-xl);
}
.inputWrapper {
  width: 484px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
  font-family: var(--text-small-normal);
}
.vectorIcon {
  height: 27.3px;
  width: 23.7px;
  position: relative;
}
.appStore,
.downloadOnThe {
  position: relative;
  letter-spacing: 0.14px;
}
.downloadOnThe {
  align-self: stretch;
  line-height: 16px;
}
.appStore {
  width: 85px;
  font-size: var(--font-size-mini-4);
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.marketButton,
.textButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.marketButton {
  box-shadow: 0 1.4px 2.87px rgba(0, 0, 0, 0.1);
  border-radius: 40.19px;
  background-color: var(--fozanova-white);
  border: 0.7px solid var(--color-ghostwhite-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-lgi);
  gap: var(--gap-mid-9);
  min-width: 117px;
}
.icnSvgIcnIcnLg {
  height: 27.1px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.downloadOnThe1,
.googlePlay {
  position: relative;
  letter-spacing: 0.14px;
}
.downloadOnThe1 {
  line-height: 16px;
  display: inline-block;
  min-width: 95px;
}
.googlePlay {
  align-self: stretch;
  font-size: var(--font-size-mini-3);
  line-height: 22px;
  font-weight: 500;
}
.marketButton1,
.textButton1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.marketButton1 {
  box-shadow: 0 1.4px 2.85px rgba(0, 0, 0, 0.1);
  border-radius: 39.93px;
  background-color: var(--fozanova-white);
  border: 0.7px solid var(--color-ghostwhite-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-xs)
    var(--padding-lgi);
  gap: var(--gap-mid-8);
  min-width: 117px;
}
.downloadButtons,
.downloadButtonsWrapper {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.downloadButtons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.downloadButtonsWrapper {
  width: 484px;
  padding: 0 var(--padding-32xl);
  font-size: var(--font-size-3xs);
  color: var(--fozanova-black);
  font-family: var(--font-inter);
}
.callToAction,
.ctaSection,
.downloadButtonsWrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.ctaSection {
  width: 1058px;
  border-radius: var(--br-5xl);
  background-color: var(--fozanova-black);
  border: 1px solid var(--color-ghostwhite-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-33xl) var(--padding-xl) var(--padding-33xl)
    var(--padding-5xl);
  gap: var(--gap-21xl);
}
.callToAction {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--fozanova-white);
  font-family: var(--fozanova-h3);
}
@media screen and (max-width: 1000px) {
  .text {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 725px) {
  .downloadButtonsWrapper {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .ctaSection {
    gap: var(--gap-xl);
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .text {
    font-size: var(--font-size-10xl);
  }
  .input {
    flex-wrap: wrap;
  }
}