.vectorIcon {
  height: 27.3px;
  width: 23.7px;
  position: relative;
}
.appStore,
.downloadOnThe {
  position: relative;
  letter-spacing: 0.14px;
}
.downloadOnThe {
  align-self: stretch;
  line-height: 16px;
}
.appStore {
  width: 85px;
  font-size: var(--font-size-mini-4);
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.marketButton,
.textButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.marketButton {
  box-shadow: 0 1.4px 2.87px rgba(0, 0, 0, 0.1);
  border-radius: 40.19px;
  background-color: var(--fozanova-white);
  border: 0.7px solid var(--color-ghostwhite-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-lgi);
  gap: var(--gap-mid-9);
  min-width: 117px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--fozanova-black);
  font-family: var(--font-inter);
  cursor: pointer;
}
