.text {
  position: relative;
  letter-spacing: -0.75px;
  display: inline-block;
  min-width: 85px;
}
.sectionTagWrapper,
.sectionTagWrapperWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sectionTagWrapper {
  border-radius: var(--br-3xl);
  background-color: var(--fozanova-gold);
  border: 1px solid var(--fozanova-gold);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-4xs) var(--padding-10xs)
    var(--padding-2xs);
  white-space: nowrap;
}
.sectionTagWrapperWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.text1,
.text2 {
  margin: 0;
  position: relative;
}
.text1 {
  align-self: stretch;
  font-size: var(--font-size-29xl);
  letter-spacing: -1px;
  font-weight: 400;
  font-family: var(--fozanova-h3);
  color: var(--fozanova-black);
}
.text2 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 27px;
  display: inline-block;
  max-width: 100%;
}
.headingWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--body-text-web-size);
  color: var(--text-grey);
  font-family: var(--text-small-normal);
}
.frameGroup,
.frameWrapper,
.headingWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.monnifyLogoIcon,
.paystackLogoIcon,
.ubaLogoIcon,
.zoloLogoIcon {
  align-self: stretch;
  width: 272.3px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 48px;
}
.monnifyLogoIcon,
.ubaLogoIcon,
.zoloLogoIcon {
  width: 112.7px;
}
.monnifyLogoIcon,
.ubaLogoIcon {
  width: 105.9px;
}
.monnifyLogoIcon {
  width: 285.1px;
}
.bottomLogoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent,
.homepageInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1064px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.homepageInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--text-medium-16-size);
  color: var(--fozanova-white);
  font-family: var(--text-medium-16);
}
/* Responsive Adjustments */
@media screen and (max-width: 1000px) {
  .text1 {
    font-size: var(--font-size-19xl);
  }
  .bottomLogoWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frameGroup {
    width: 100%;
  }
  .frameParent {
    width: 90%;
    padding: 0 var(--padding-8xl);
  }
}

@media screen and (max-width: 725px) {
  .frameParent {
    gap: var(--gap-6xl);
  }
  .sectionTagWrapperWrapper {
    padding: 0 var(--padding-md);
  }
  .headingWrapper {
    padding: 0 var(--padding-md);
  }
  .text1 {
    font-size: var(--font-size-15xl);
  }
  .homepageInner {
    padding: 0 var(--padding-md) var(--padding-6xl);
  }
}

@media screen and (max-width: 450px) {
  .text1 {
    font-size: var(--font-size-10xl);
  }
  .sectionTagWrapper {
    padding: var(--padding-10xs) var(--padding-3xs);
  }
  .frameGroup {
    gap: var(--gap-md);
  }
  .homepageInner {
    padding: 0 var(--padding-xs) var(--padding-4xl);
  }
  .bottomLogoWrapper {
    flex-direction: column;
    align-items: center;
    gap: var(--gap-md);
  }
}