.text {
  width: 188px;
  position: relative;
  letter-spacing: -0.8px;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.textWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl);
}
.text1 {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.priceWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.perBeneficiary,
.perQuarter {
  margin: 0;
}
.text2 {
  height: 44px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 22px;
  display: inline-block;
}
.textContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-22xl);
  font-size: var(--body-text-web-size);
  color: var(--text-grey);
  font-family: var(--text-small-normal);
}
.planAmountWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.planAmountWrapperWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl);
  font-size: var(--font-size-21xl);
  font-family: var(--fozanova-h3);
}
.serviceBenefitsWorth,
.tcApply {
  margin: 0;
}
.text3 {
  width: 269px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.check1Traced {
  height: 15px;
  width: 15px;
  position: relative;
}
.intrastateCorpseTransportati,
.toMortuary {
  margin: 0;
}
.text4 {
  position: relative;
}
.eachAdditionalFeature {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced1 {
  height: 15px;
  width: 15px;
  position: relative;
}
.forUpTo,
.mortuaryExpensesCovered {
  margin: 0;
}
.text5 {
  position: relative;
}
.eachAdditionalFeature1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-family: var(--font-inter);
}
.check1Traced2 {
  height: 15px;
  width: 15px;
}
.check1Traced2,
.text6 {
  position: relative;
}
.eachAdditionalFeature2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced3 {
  height: 15px;
  width: 15px;
}
.check1Traced3,
.text7 {
  position: relative;
}
.eachAdditionalFeature3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced4 {
  height: 15px;
  width: 15px;
  position: relative;
}
.intrastateTransportationTo,
.lyingInState {
  margin: 0;
}
.text8 {
  position: relative;
}
.eachAdditionalFeature4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced5 {
  height: 15px;
  width: 15px;
}
.check1Traced5,
.text9 {
  position: relative;
}
.eachAdditionalFeature5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced6 {
  height: 15px;
  width: 15px;
  position: relative;
}
.church,
.intrastateTransportationTo1 {
  margin: 0;
}
.text10 {
  position: relative;
}
.eachAdditionalFeature6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-family: var(--font-inter);
}
.check1Traced7 {
  height: 15px;
  width: 15px;
}
.check1Traced7,
.text11 {
  position: relative;
}
.eachAdditionalFeature7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced8 {
  height: 15px;
  width: 15px;
  position: relative;
}
.burialGround,
.intrastateTransportationTo2 {
  margin: 0;
}
.text12 {
  position: relative;
}
.eachAdditionalFeature8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced9 {
  height: 15px;
  width: 15px;
  position: relative;
}
.for1Day,
.professionalUndertakers {
  margin: 0;
}
.text13 {
  position: relative;
}
.eachAdditionalFeature9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced10 {
  height: 15px;
  width: 15px;
  position: relative;
}
.for1Day1,
.professionalVideoCoverage {
  margin: 0;
}
.text14 {
  position: relative;
}
.eachAdditionalFeature10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.check1Traced11 {
  height: 15px;
  width: 15px;
}
.check1Traced11,
.text15 {
  position: relative;
}
.eachAdditionalFeature11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.additionalFeaturesCollection {
  gap: var(--gap-base);
  text-align: left;
  color: var(--fozanova-black);
}
.additionalFeaturesCollection,
.additionalFeaturesWrapper,
.modelSpecsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.additionalFeaturesWrapper {
  height: 613px;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-lgi);
}
.modelSpecsWrapper {
  flex: 1;
  padding: 0 var(--padding-4xs) 0 0;
  font-size: var(--body-text-web-size);
  color: var(--fozanova-gold);
}
.buttonBg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 1px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--fozanova-gold);
}
.buttonText {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--text-small-normal);
  color: var(--fozanova-white);
  text-align: center;
  z-index: 1;
}
.buttondefault {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-2xl) var(--padding-base);
  background-color: transparent;
  flex: 1;
  flex-direction: row;
  position: relative;
}
.buttondefault,
.buttondefaultWrapper,
.eachPricing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttondefaultWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xl);
}
.eachPricing {
  height: 1019px;
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--fozanova-white);
  border: 1px solid var(--color-ghostwhite-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-24xl);
  gap: var(--gap-21xl);
  max-width: calc(100% - 773px);
}
.text16 {
  width: 189px;
  position: relative;
  letter-spacing: -0.8px;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.textFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl) 0 var(--padding-12xl);
}
.text17 {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.priceWrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.perBeneficiary1,
.perQuarter1 {
  margin: 0;
}
.text18 {
  height: 44px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 22px;
  display: inline-block;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-23xl);
  font-size: var(--body-text-web-size);
  color: var(--text-grey);
  font-family: var(--text-small-normal);
}
.planAmountWrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.planAmountWrapperContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-base);
  font-size: var(--font-size-21xl);
  font-family: var(--fozanova-h3);
}
.serviceBenefitsWorth1,
.tcApply1 {
  display: block;
}
.tcApply1 {
  white-space: pre-wrap;
}
.icon,
.text19 {
  position: relative;
}
.text19 {
  margin: 0;
  width: 270px;
  height: 64px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.icon {
  height: 15px;
  width: 15px;
}
.intrastateCorpseTransportati1,
.toMortuary1 {
  margin: 0;
}
.text20 {
  position: relative;
}
.eachAdditionalFeature12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon1 {
  height: 15px;
  width: 15px;
  position: relative;
}
.forUpTo1,
.mortuaryExpensesCovered1 {
  margin: 0;
}
.text21 {
  position: relative;
}
.eachAdditionalFeature13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon2 {
  height: 15px;
  width: 15px;
}
.icon2,
.text22 {
  position: relative;
}
.eachAdditionalFeature14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon3 {
  height: 15px;
  width: 15px;
}
.icon3,
.text23 {
  position: relative;
}
.eachAdditionalFeature15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-family: var(--font-inter);
}
.icon4 {
  height: 15px;
  width: 15px;
  position: relative;
}
.intrastateTransportationTo3,
.lyingInState1 {
  margin: 0;
}
.text24 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 170px;
}
.eachAdditionalFeature16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon5 {
  height: 15px;
  width: 15px;
}
.icon5,
.text25 {
  position: relative;
}
.eachAdditionalFeature17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon6 {
  height: 15px;
  width: 15px;
  position: relative;
}
.church1,
.intrastateTransportationTo4 {
  margin: 0;
}
.text26 {
  position: relative;
}
.eachAdditionalFeature18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon7 {
  height: 15px;
  width: 15px;
}
.icon7,
.text27 {
  position: relative;
}
.eachAdditionalFeature19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon8 {
  height: 15px;
  width: 15px;
  position: relative;
}
.burialGround1,
.intrastateTransportationTo5 {
  margin: 0;
}
.text28 {
  position: relative;
}
.eachAdditionalFeature20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon9 {
  height: 15px;
  width: 15px;
  position: relative;
}
.professionalUndertakersFor,
.upTo2 {
  margin: 0;
}
.text29 {
  position: relative;
}
.eachAdditionalFeature21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon10 {
  height: 15px;
  width: 15px;
  position: relative;
}
.for2Days,
.professionalVideoCoverage1 {
  margin: 0;
}
.text30 {
  position: relative;
}
.eachAdditionalFeature22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon11 {
  height: 15px;
  width: 15px;
}
.icon11,
.text31 {
  position: relative;
}
.eachAdditionalFeature23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.additionalFeaturesCollection1 {
  align-self: stretch;
  gap: var(--gap-base);
  text-align: left;
  color: var(--fozanova-black);
}
.additionalFeaturesCollection1,
.additionalFeaturesWrapper1,
.modelSpecsWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.additionalFeaturesWrapper1 {
  width: 281px;
}
.modelSpecsWrapper1 {
  align-self: stretch;
  padding: 0;
  font-size: var(--body-text-web-size);
  color: var(--fozanova-gold);
}
.buttonBg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--fozanova-gold);
}
.buttonText1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--text-small-normal);
  color: var(--fozanova-white);
  text-align: center;
  z-index: 1;
}
.buttondefault1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-base)
    var(--padding-2xl);
  background-color: transparent;
  flex: 1;
  flex-direction: row;
  position: relative;
}
.buttondefault1,
.buttondefaultContainer,
.eachPricing1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttondefaultContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xs) 0 var(--padding-7xs);
}
.eachPricing1 {
  flex: 0.9004;
  border-radius: var(--br-5xs);
  background-color: var(--fozanova-white);
  border: 1px solid var(--color-ghostwhite-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-9xl) var(--padding-38xl);
  gap: var(--gap-21xl);
  max-width: calc(100% - 777px);
}
.text32 {
  width: 183px;
  position: relative;
  letter-spacing: -0.8px;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.textWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl);
}
.text33 {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.priceWrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.perBeneficiary2,
.perQuarter2 {
  margin: 0;
}
.text34 {
  width: 215px;
  position: relative;
  font-size: var(--body-text-web-size);
  letter-spacing: -0.2px;
  line-height: 22px;
  font-family: var(--text-small-normal);
  color: var(--text-grey);
  display: inline-block;
}
.planAmountWrapper2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.planAmountWrapperFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  font-size: var(--font-size-21xl);
  font-family: var(--fozanova-h3);
}
.serviceBenefitsWorth2,
.tcApply2 {
  margin: 0;
}
.icon12,
.text35 {
  position: relative;
}
.text35 {
  width: 252px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.icon12 {
  height: 15px;
  width: 15px;
}
.intrastateCorpse,
.transportationToMortuary {
  margin: 0;
}
.text36 {
  position: relative;
}
.eachAdditionalFeature24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon13 {
  height: 15px;
  width: 15px;
  position: relative;
}
.mortuaryExpensesCovered2,
.upTo365 {
  margin: 0;
}
.text37 {
  position: relative;
}
.eachAdditionalFeature25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon14 {
  height: 15px;
  width: 15px;
}
.icon14,
.text38 {
  position: relative;
}
.eachAdditionalFeature26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon15 {
  height: 15px;
  width: 15px;
}
.icon15,
.text39 {
  position: relative;
}
.eachAdditionalFeature27 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon16 {
  height: 15px;
  width: 15px;
  position: relative;
}
.hometown,
.interstateTransportationTo {
  margin: 0;
}
.text40 {
  position: relative;
}
.eachAdditionalFeature28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon17 {
  height: 15px;
  width: 15px;
  position: relative;
}
.intrastateTransportationTo6,
.lyingInState2 {
  display: block;
}
.text41 {
  margin: 0;
  position: relative;
}
.iconParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon18 {
  height: 15px;
  width: 15px;
}
.icon18,
.text42 {
  position: relative;
}
.iconGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon19 {
  height: 15px;
  width: 15px;
  position: relative;
}
.church2,
.intrastateTransportationTo7 {
  margin: 0;
}
.text43 {
  position: relative;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon20 {
  height: 15px;
  width: 15px;
}
.icon20,
.text44 {
  position: relative;
}
.iconParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon21 {
  height: 15px;
  width: 15px;
  position: relative;
}
.burialGround2,
.intrastateTransportationTo8 {
  margin: 0;
}
.text45 {
  position: relative;
}
.iconParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon22 {
  height: 15px;
  width: 15px;
  position: relative;
}
.forUpTo2,
.professionalUndertakers1 {
  margin: 0;
}
.text46 {
  position: relative;
}
.iconParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-family: var(--font-inter);
}
.icon23 {
  height: 15px;
  width: 15px;
}
.icon23,
.text47 {
  position: relative;
}
.iconParent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.icon24,
.text48 {
  position: relative;
}
.icon24 {
  height: 15px;
  width: 15px;
}
.text48 {
  margin: 0;
  flex: 1;
}
.iconParent5 {
  width: 231px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icon25 {
  height: 15px;
  width: 15px;
  position: relative;
}
.eventManager,
.freeConsultation {
  margin: 0;
}
.text49 {
  position: relative;
}
.iconParent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.additionalFeaturesCollection2 {
  padding: 0;
  gap: var(--gap-base);
  text-align: left;
  color: var(--text-dark-blue);
}
.additionalFeaturesCollection2,
.additionalFeaturesWrapper2,
.modelSpecsWrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.additionalFeaturesWrapper2 {
  padding: 0;
  gap: var(--gap-xl);
}
.modelSpecsWrapper2 {
  padding: 0 var(--padding-mini) 0 0;
  font-size: var(--body-text-web-size);
  color: var(--fozanova-gold);
}
.buttonBg2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--fozanova-gold);
}
.buttonText2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--text-small-normal);
  color: var(--fozanova-white);
  text-align: center;
  z-index: 1;
}
.buttondefault2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-base)
    var(--padding-2xl);
  background-color: transparent;
  flex: 1;
  flex-direction: row;
  position: relative;
}
.buttondefault2,
.buttondefaultFrame,
.eachPricing2,
.pricingSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttondefaultFrame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs);
}
.eachPricing2,
.pricingSection {
  box-sizing: border-box;
}
.eachPricing2 {
  width: 358px;
  border-radius: var(--br-5xs);
  background-color: var(--fozanova-white);
  border: 1px solid var(--color-ghostwhite-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-9xl) var(--padding-28xl);
  gap: var(--gap-21xl);
  max-width: calc(100% - 788px);
}
.pricingSection {
  height: 1109px;
  flex: 1;
  flex-direction: row;
  padding: 0 0 var(--padding-71xl);
  gap: var(--gap-4xl);
  max-width: 100%;
}
.plansSectionvariant4 {
  flex: 1;
  padding: var(--padding-26xl) 0 var(--padding-32xl);
  box-sizing: border-box;
}
.planSelector,
.plansSectionvariant4,
.solaceFarewellPlans {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.solaceFarewellPlans {
  flex: 1;
}
.planSelector {
  align-self: stretch;
  padding: 0 var(--padding-48xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--fozanova-h3-size);
  color: var(--text-dark-blue);
  font-family: var(--text-small-normal);
}
@media screen and (max-width: 1200px) {
  .eachPricing2 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .pricingSection {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
  .plansSectionvariant4 {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .text1 {
    font-size: var(--font-size-13xl);
  }
  .eachPricing {
    display: none;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .text17 {
    font-size: var(--font-size-13xl);
  }
  .eachPricing1 {
    display: none;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .text33 {
    font-size: var(--font-size-13xl);
  }
  .eachPricing2 {
    display: none;
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .pricingSection {
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .plansSectionvariant4 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .planSelector {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .text {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .textWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .text1 {
    font-size: var(--fozanova-h3-size);
  }
  .buttonText {
    font-size: var(--text-medium-16-size);
    line-height: 16px;
  }
  .eachPricing {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .text16 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .text17 {
    font-size: var(--fozanova-h3-size);
  }
  .buttonText1 {
    font-size: var(--text-medium-16-size);
    line-height: 16px;
  }
  .eachPricing1 {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .text32 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .text33 {
    font-size: var(--fozanova-h3-size);
  }
  .buttonText2 {
    font-size: var(--text-medium-16-size);
    line-height: 16px;
  }
  .eachPricing2 {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .pricingSection {
    height: auto;
  }
}
