.gradientWrapper1 {
  height: 155.8px;
  width: 155.8px;
  position: relative;
  filter: blur(56px);
  border-radius: 869.24px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #e9d8ff,
    rgba(255, 255, 255, 0),
    rgba(233, 216, 255, 0)
  );
}
.gradientWrapper {
  width: 365.8px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.gradientWrapper3 {
  height: 155.8px;
  width: 155.8px;
  position: relative;
  filter: blur(56px);
  border-radius: 869.24px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #e9d8ff,
    rgba(255, 255, 255, 0),
    rgba(233, 216, 255, 0)
  );
}
.gradientWrapper2 {
  width: 366px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.vectorIcon {
  height: 36px;
  width: 32.6px;
  position: relative;
}
.vectorWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.farewellCover,
.solacePremium {
  margin: 0;
}
.text {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.8px;
  line-height: 28px;
}
.valueIcon {
  margin-left: -87px;
  width: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--fozanova-h3-size);
  font-family: var(--fozanova-h3);
}
.navButton,
.text1 {
  position: relative;
  display: inline-block;
}
.text1 {
  margin: 0;
  width: 262px;
  letter-spacing: -0.2px;
  line-height: 27px;
  color: var(--text-grey);
  justify-content: center;
  text-align: flex-start;
}
.navButton {
  line-height: 26px;
  font-weight: 600;
  color: var(--fozanova-gold);
  text-align: center;
  justify-content: center;
  min-width: 89px;
}
.eachValueContent {
  width: 259px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-25xl) 0 var(--padding-11xs) var(--padding-65xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.lineIcon {
  width: 0;
  height: 201px;
  position: relative;
  object-fit: contain;
}
.valueButton {
  height: 264.5px;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gradientWrapper5 {
  height: 155.8px;
  width: 155.8px;
  position: relative;
  filter: blur(56px);
  border-radius: 869.24px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #e9d8ff,
    rgba(255, 255, 255, 0),
    rgba(233, 216, 255, 0)
  );
}
.gradientWrapper4 {
  width: 366px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.groupIcon {
  height: 37px;
  width: 39.3px;
  position: relative;
}
.groupWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.forTheElderly,
.solaceHealthClub {
  margin: 0;
}
.text2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.8px;
  line-height: 28px;
}
.valueIcon1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-base);
  font-size: var(--fozanova-h3-size);
  font-family: var(--fozanova-h3);
}
.text3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 27px;
  color: var(--text-grey);
}
.navButton1 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 89px;
}
.iconContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
  text-align: left;
  color: var(--fozanova-gold);
}
.bottomLeftContentWrapper {
  width: 88px;
  height: 26px;
  display: none;
}
.eachValueContent1 {
  width: 272px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-25xl) var(--padding-9xs) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.lineIcon1 {
  width: 0;
  height: 201px;
  position: relative;
  object-fit: contain;
}
.lineWrapper {
  height: 264.5px;
  width: 4.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.vectorIcon1 {
  height: 37px;
  width: 40.9px;
  position: relative;
}
.vectorContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.text4 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.8px;
  line-height: 28px;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.text5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-web-size);
  letter-spacing: -0.2px;
  line-height: 27px;
  font-family: var(--text-small-normal);
  color: var(--text-grey);
}
.valueIcon2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.navButton2 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 109px;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-58xl) 0 var(--padding-57xl);
  text-align: left;
  font-size: var(--body-text-web-size);
  color: var(--fozanova-gold);
  font-family: var(--text-small-normal);
}
.valueDetails,
.valueDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.valueDetails {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-base);
}
.valueDetailsWrapper {
  width: 262px;
  justify-content: center;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--fozanova-h3-size);
  color: var(--text-dark-blue);
  font-family: var(--fozanova-h3);
}
.valueItem,
.valueItemWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.valueItem {
  align-items: center;
  justify-content: center;
  gap: var(--gap-29xl);
}
.valueItemWrapper {
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-2xs) 0 var(--padding-3xs);
  box-sizing: border-box;
}
.gradientWrapper7 {
  height: 155.8px;
  width: 155.8px;
  position: relative;
  filter: blur(56px);
  border-radius: 869.24px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #e9d8ff,
    rgba(255, 255, 255, 0),
    rgba(233, 216, 255, 0)
  );
}
.gradientWrapper6 {
  width: 365.8px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.gradientWrapper9 {
  height: 155.8px;
  width: 155.8px;
  position: relative;
  filter: blur(56px);
  border-radius: 869.24px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #e9d8ff,
    rgba(255, 255, 255, 0),
    rgba(233, 216, 255, 0)
  );
}
.gradientWrapper8 {
  width: 365.8px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.gradientWrapper11 {
  height: 155.8px;
  width: 155.8px;
  position: relative;
  filter: blur(56px);
  border-radius: 869.24px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #e9d8ff,
    rgba(255, 255, 255, 0),
    rgba(233, 216, 255, 0)
  );
}
.gradientWrapper10 {
  width: 365.8px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.lineIcon2 {
  width: 0;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
}
.lineContainer {
  height: 220.5px;
  width: 19.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi-5) var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.lineIcon3 {
  width: 0;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
}
.lineFrame {
  height: 220.5px;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi-5) 0 0;
  box-sizing: border-box;
}
.vectorIcon2 {
  height: 37px;
  width: 37px;
  position: relative;
}
.vectorFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.services,
.teleconsultation {
  margin: 0;
}
.text6 {
  position: relative;
  letter-spacing: -0.8px;
  line-height: 28px;
}
.frameDiv,
.text6,
.text7 {
  align-self: stretch;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.text7 {
  margin: 0;
  position: relative;
  font-size: var(--body-text-web-size);
  letter-spacing: -0.2px;
  line-height: 27px;
  font-family: var(--text-small-normal);
  color: var(--text-grey);
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.navButton3 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 109px;
}
.frameGroup,
.navButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navButtonWrapper {
  flex-direction: row;
  padding: 0 var(--padding-58xl) 0 var(--padding-57xl);
  text-align: left;
  font-size: var(--body-text-web-size);
  color: var(--fozanova-gold);
  font-family: var(--text-small-normal);
}
.frameGroup {
  width: 262px;
  flex-direction: column;
  gap: var(--gap-base);
  font-size: var(--fozanova-h3-size);
  color: var(--text-dark-blue);
  font-family: var(--fozanova-h3);
}
.valueItem1,
.valuesBottomWrappers {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.valueItem1 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-29xl);
}
.valuesBottomWrappers {
  border-radius: var(--br-base);
  background-color: var(--fozanova-white);
  border: 1px solid var(--color-ghostwhite-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-26xl) var(--padding-2xl) var(--padding-27xl);
  gap: var(--gap-65xl);
}
.valuesBottomWrappersWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--body-text-web-size);
  color: var(--fozanova-black);
  font-family: var(--text-small-normal);
}
/* For screens with max-width of 1050px */
@media screen and (max-width: 1050px) {
  .valueItem {
    flex-wrap: wrap;
  }
  .valuesBottomWrappers {
    gap: var(--gap-23xl);
  }
}

/* For screens with max-width of 1000px */
@media screen and (max-width: 1000px) {
  .valuesBottomWrappers {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-11xl);
  }
}

/* For screens with max-width of 725px */
@media screen and (max-width: 725px) {
  .valueItem,
  .valueItem1 {
    gap: var(--gap-5xl);
  }
  .valuesBottomWrappers {
    gap: var(--gap-2xl);
  }
}

/* For screens with max-width of 450px */
@media screen and (max-width: 450px) {
  .text,
  .text2,
  .text4,
  .text6 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .eachValueContent,
  .imageContainer,
  .navButtonWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .valuesBottomWrappers {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
}

/* Add additional breakpoints if necessary for even smaller screens or more fine-tuning */
@media screen and (max-width: 375px) {
  .text,
  .text2,
  .text4,
  .text6 {
    font-size: var(--font-size-md);
    line-height: 20px;
  }
  .valuesBottomWrappers {
    padding-top: var(--padding-lg);
    padding-bottom: var(--padding-lg);
    gap: var(--gap-lg);
  }
}